{% extends "base.html" %}
{% block title %} - Run Log {% endblock %}
{% block header %}
 <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Forge Deployable Nodes
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href={{ url_for('index') }}>Dashboard</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-table"></i> Forge Deployable Nodes
                            </li>
                        </ol>
                    </div>
</div>
{% endblock %}
{% block content %}
    {% if message != "" %}
        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <i class="fa fa-info-circle"></i>  {{ message }}
                </div>
            </div>
        </div>
    {% endif %}

    <div class="col-lg-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-globe fa-fw"></i> Node Information and Identities</h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>MAC Address</th>
                                <th>Proc Count</th>
                                <th>RAM</th>
                                <th>Serial</th>
                                <th>RU</th>
                                <th>Hostname</th>
                                <th>IP address</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for node in deployable_nodelist %}
                            <tr>
                                <td>{{ nodeinfo[node]['name'] }}</td>
                                {% if nodeinfo[node].has_key('facts') %}
                                    <td>{{ nodeinfo[node]['facts']['macaddress'] }}</td>
                                    <td>{{ nodeinfo[node]['facts']['processorcount'] }}</td>
                                    <td>{{ nodeinfo[node]['facts']['memorysize_mb']|int  / 1000 }} GB</td>
                                    <td>{{ nodeinfo[node]['facts']['serialnumber'] }}</td>
                                {% else %}
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                {% endif %}
                                {% if nodeinfo[node].has_key('metadata') %}
                                    {% if nodeinfo[node]['metadata'].has_key('RU') %}
                                        <td>{{ nodeinfo[node]['metadata']['RU'] }}</td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                    {% if nodeinfo[node]['metadata'].has_key('HZ_hostname') %}
                                        <td>{{ nodeinfo[node]['metadata']['HZ_hostname'] }}</td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                    {% if nodeinfo[node]['metadata'].has_key('HZ_ipaddress') %}
                                        <td>{{ nodeinfo[node]['metadata']['HZ_ipaddress'] }}</td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                {% else %}
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-globe fa-fw"></i> Current ESXi Global Parameters</h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <tbody>
                            <tr>
                                <td>Mgmt. Subnet Mask:</td>
                                <td>{{ razor.esxi_subnetmask }}</td>
                            </tr>
                            <tr>
                                <td>Mgmt. Default Gateway:</td>
                                <td>{{ razor.esxi_default_gw }}</td>
                            </tr>
                            <tr>
                                <td>Mgmt. DNS:</td>
                                <td>{{ razor.esxi_dns }}</td>
                            </tr>
                            <tr>
                                <td>Mgmt. Domain Name:</td>
                                <td>{{ razor.esxi_domain_suffix }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="text-right">
                    <a href="{{ url_for('esxiglobal') }}">Edit Details <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <form class="form-horizontal" role="form" method=post action="/forge">
            <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type=submit value=Submit class="btn btn-primary">
            </div>
        </div>
    </form>
    </div>
{% endblock %}