{% extends "base.html" %}
{% block title %} - Run Log {% endblock %}
{% block header %}
 <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Detected Nodes
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href={{ url_for('index') }}>Dashboard</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-table"></i> Detected Nodes
                            </li>
                        </ol>
                    </div>
</div>
{% endblock %}
{% block content %}
<div class="col-lg-6">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Node Name</th>
                        <th>MAC Address</th>
                    </tr>
                </thead>
                <tbody>
                {% for node in nodeinfo %}
                    <tr>
                        <td>{{ nodeinfo[node]['name'] }}</td>
                        <td>{{ nodeinfo[node]['facts']['macaddress'] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
</div>
{% endblock %}